<div class="room_title">
  <div class="room_name">
    <%= @room.name %>
  </div>
  <div class="chat_exit">
    <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
  </div>
</div>
<div class="chat">
  <%= render partial: 'message', collection: @messages %>
</div>
<div class="form">
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form_left">
   <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <div class="form_right">
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
  </div>
</div>
